body {
  text-align:center;
}

a {
  padding: 20px;
  display: block;
  width: 400px;
  margin: auto;
  text-decoration: none;
  text-align: left;
  font-weight: bold;
  color: white;
}

.all {
  border-radius: 5px;
  background-color: red;
}

.topleft {
  border-top-left-radius: 10px;
  background-color: green;
}

.bottomleft {
  border-bottom-left-radius: 20px;
  background-color: blue;
}

.topright {
  border-top-right-radius: 15px;
  background-color: black;
}

.bottomright {
  border-bottom-right-radius: 25px;
  background-color: red;
}

.round {
  background-color: #7661c8;
  border-radius: 90px;
  text-align: center;
  display: inline-block;
  width: 120px;
  height: 120px;
  padding: 0;
  line-height: 120px;
}

div {
  display: inline;
}
