body {
  margin: 50px 50px;
  padding: 50px 50px;
}

.seven {
  -webkit-column-count: 7;
  -moz-column-count: 7;
  column-count: 7;
  background-color: #999;
  -webkit-column-gap: 50px;
  -moz-column-gap: 50px;
  column-gap: 50px;
  -webkit-column-rule: 2px dashed;
  -moz-column-rule: 2px dashed;
  column-rule: 2px dashed;
}

.two {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
}

.three {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
}

.four {
  -webkit-column-count: 4;
  -moz-column-count: 4;
  column-count: 4;
}
