a.hback:hover {
  background:red;
}

a.aback:active {
  background:green;
}

.hdiv {
  background-color:green;
  width:400px;
  height:300px;
  margin:20px auto;
}
.hdiv:hover {
  background-color:red;
}
